.google-colors {
	position: relative;
	display: flex;
	font-size: 48px;
	font-family: 'Courier', sans-serif;
	height: 200px;
	width: 100%;

	justify-content: center;
}

.google-colors h1 {
	display: inline;
	position: relative;
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;

	line-height: 200px;
}

.google-colors p {
	display: inline;
	position: relative;
	font-size: medium;
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;

	line-height: 250px;
}

.full-body-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

#title-color {
	color: #db4437;
}

#small-title {
	color: black;
	font-size: medium;
}

.box-template .label {
	text-decoration: underline;
}

#filter-text-val {
	font-family: 'Courier', sans-serif;
}

.top-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#answer-box {
	width: 700px;
	margin-top: -480px;
	overflow-y: scroll;
}

.episode-title {
	font-family: 'Courier', sans-serif;
}

.episode-desc {
	font-family: 'Courier', sans-serif;
}

.answer-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.company-info {
	flex: 0 0 100%;
	margin-bottom: 20px;
}

.box-template {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	overflow: auto;
	/* Add this line */
}

.box-template h3 {
	font-size: 20px;
	margin: 0 0 5px;
	margin-top: 0px;
}

.box-template p {
	margin: 0;
}

.box-template .company-address {
	color: #666;
	font-size: 16px;
}

.box-template .category-list {
	font-style: italic;
	font-size: 16px;
	color: #999;
	padding-top: 0px;
}

.box-template .header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-template .star-ratings {
	font-size: 18px;
	color: #f90;
	display: flex;
}

.box-template .star-ratings span:before {
	content: '\2605';
	margin-right: 5px;
}

.box-template hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 10px 0;
}

.box-template .traits,
.box-template .topWords {
	font-size: 16px;
	font-weight: 400;
	color: #666;
	margin: 5px 0;
}

.box-template .intro,
.box-template .points {
	font-size: 16px;
	font-weight: 400;
	color: #666;
}

.review {
	font-style: normal;
	color: #888;
}

.search-box {
	display: flex;
	align-items: center;
	margin: 20px auto;
	width: 80%;
	max-width: 600px;
	height: 30px;
	padding: 10px;
	max-height: 20px;

	background-color: #fff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.search-box img {
	width: 20px;
	margin-right: 10px;
}

.search-box input {
	flex: 1;
	font-size: 16px;
	border: none;
	outline: none;
}

.container {
	position: relative;
	top: -100px;
	left: 45%;
	transform: translateX(-50%);
}

.input-heading {
	text-align: center;
	margin-bottom: 5px;
	font-family: 'Courier', sans-serif;
	font-size: 24px;
	font-weight: 10;
	color: #333;
}

.input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	background-color: #f8f8f8;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.blacklist-box,
.tags-box,
.dietary-box,
.specialty-box,
.cuisine-box,
.rating-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: 400px;
}

label {
	font-family: 'Courier', sans-serif;
	font-size: 18px;
	font-weight: 10;
	color: #333;
}

input[type='range'] {
	width: 100%;
}

#rating-value {
	font-family: 'Courier', sans-serif;
	font-size: 20px;
	font-weight: 10;
	color: #333;
}

input[type='text'] {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-family: 'Courier', sans-serif;
	font-size: 18px;
	color: #333;
}

#restaurant-list {
	position: relative;
	width: 197.75%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;

	border-top: none;
	overflow-y: auto;
	top: 107px;
	left: -296.5px;
}

#restaurant-list li {
	padding: 8px;
	cursor: pointer;
	font-family: 'Courier', sans-serif;
	display: flex;
	justify-content: center;
}

#restaurant-list li:hover {
	background-color: #f1f1f1;
}

#cuisine-list {
	position: absolute;
	width: 90%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-top: none;
	max-height: 200px;
	overflow-y: auto;
	top: 57.5%;
	left: 5%;
}

#cuisine-list li {
	padding: 8px;
	cursor: pointer;
	font-family: 'Courier', sans-serif;
	align-items: center;
	display: flex;
	justify-content: center;
}

#cuisine-list li:hover {
	background-color: #f1f1f1;
}

#specialty-list {
	position: absolute;
	width: 90%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;

	border-top: none;
	max-height: 200px;
	overflow-y: auto;
	top: 70.5%;
	left: 5%;
}

#specialty-list li {
	padding: 8px;
	cursor: pointer;
	font-family: 'Courier', sans-serif;
	display: flex;
	justify-content: center;
}

#specialty-list li:hover {
	background-color: #f1f1f1;
}

#dietary-list {
	position: absolute;
	width: 90%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;

	border-top: none;
	max-height: 200px;
	overflow-y: auto;
	top: 83.5%;
	left: 5%;
}

#dietary-list li {
	padding: 8px;
	cursor: pointer;
	font-family: 'Courier', sans-serif;
	display: flex;
	justify-content: center;
}

#dietary-list li:hover {
	background-color: #f1f1f1;
}

#tag-list {
	position: absolute;
	width: 90%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;

	border-top: none;
	max-height: 130px;

	top: 96.5%;
	left: 5%;
	overflow-y: auto;
}

#tag-list li {
	padding: 8px;
	cursor: pointer;
	font-family: 'Courier', sans-serif;
	display: flex;
	justify-content: center;
}

#tag-list li:hover {
	background-color: #f1f1f1;
}

#blacklist-list {
	position: absolute;
	width: 90%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;

	border-top: none;
	max-height: 130px;

	top: 45%;
	left: 5%;
	overflow-y: auto;
}

#blacklist-list li {
	padding: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	font-family: 'Courier', sans-serif;
}

#blacklist-list li:hover {
	background-color: #f1f1f1;
}

#loading-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Courier', sans-serif;
	font-size: x-large;
	font-weight: bold;
	background-color: white;
}

#loading-text1 {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	color: black;
	text-align: center;
	padding: 20px;
	background-color: transparent; /* Light grey background */
}
