<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
	rel="stylesheet" />

<body>
	<style>
		body {
			background-image: url("../static/images/philly2.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	<div class="full-body-container">
		<div class="top-text">
			<div class="google-colors">
				<h1 id="title-color">CuisineCheck</h1>
				<p id="small-title">Philadelphia</p>
			</div>
			<div class="search-box" onclick="sendFocus('filter-text-val')">
				<input autocomplete="off" placeholder="Search for your favorite restaurant" id="filter-text-val"
					onkeyup="handleKeyUp(event)" />
				<div class="restaurant-list-container">
					<ul id="restaurant-list"></ul>
				</div>
			</div>
		</div>
		<div class="container">
			<h2 class="input-heading">Additional Inputs</h2>
			<div class="input-container">
				<div class="rating-box">
					<label for="rating-input">Minimum Rating:</label>
					<input type="range" id="rating-input" name="rating-input" min="0" max="5" step="1" value="0" />
					<span id="rating-value">0</span>
				</div>
				<div class="blacklist-box">
					<input type="text" placeholder="Dislike a restaurant?" id="blacklist-val"
						onkeyup="editDistance('get_names', 'blacklist-val','blacklist-list')"
						onclick="fillTags('get_names', 'blacklist-list')" />
					<ul id="blacklist-list"></ul>
				</div>
				<div class="cuisine-box">
					<input type="text" placeholder="Pick a cuisine" id="cuisine-val"
						onkeyup="editDistance('cuisines', 'cuisine-val','cuisine-list')"
						onclick="fillTags('cuisines', 'cuisine-list')" />
					<ul id="cuisine-list"></ul>
				</div>
				<div class="specialty-box">
					<input type="text" placeholder="Pick a specialty" id="specialty-val"
						onkeyup="editDistance('specialty', 'specialty-val','specialty-list')"
						onclick="fillTags('specialty', 'specialty-list')" />
					<ul id="specialty-list"></ul>
				</div>
				<div class="dietary-box">
					<input type="text" placeholder="Pick an establishment" id="dietary-val"
						onclick="fillTags('establishments', 'dietary-list')"
						onkeyup="editDistance('establishments', 'dietary-val','dietary-list')" />
					<ul id="dietary-list"></ul>
				</div>
				<div class="tags-box">
					<input type="text" placeholder="Pick a trait" id="tag-val" onclick="fillTags('traits', 'tag-list')"
						onkeyup="editDistance('traits', 'tag-val', 'tag-list')" />
					<ul id="tag-list"></ul>
				</div>

			</div>
		</div>
		<div id="answer-box"></div>
	</div>
	</div>

	<script>
		const filterTextVal = document.querySelector('#filter-text-val');
		const restaurantList = document.querySelector('#restaurant-list');

		const cuisineList = document.querySelector('#cuisine-list');
		const cuisineVal = document.querySelector('#cuisine-val');

		const specialtyList = document.querySelector('#specialty-list');
		const specialtyVal = document.querySelector('#specialty-val');

		const dietaryList = document.querySelector('#dietary-list');
		const dietaryVal = document.querySelector('#dietary-val');

		const tagList = document.querySelector('#tag-list');
		const tagVal = document.querySelector('#tag-val');

		const blacklistList = document.querySelector('#blacklist-list');
		const blacklistVal = document.querySelector('#blacklist-val');


		const searchBox = document.querySelector('.search-box');

		let isFiltering = false;

		function handleKeyUp(event) {
			if (event.keyCode === 13) {
				if (!isFiltering) {
					isFiltering = true;
					setTimeout(() => {
						filterText();
						isFiltering = false;
					}, 1000);
				}
			} else {
				editDistance("get_names", "filter-text-val", "restaurant-list");
			}
		}

		document.addEventListener('keydown', (event) => {
			if (event.keyCode === 13) {
				restaurantList.innerHTML = '';
			}
		});

		document.addEventListener('click', (event) => {
			if (!searchBox.contains(event.target)) {
				restaurantList.innerHTML = '';
				cuisineList.innerHTML = '';
				specialtyList.innerHTML = '';
				dietaryList.innerHTML = '';
				tagList.innerHTML = '';
				blacklistList.innerHTML = '';
			}
		});

		restaurantList.addEventListener('click', (event) => {
			document.getElementById('filter-text-val').value = event.target.textContent.trim();
			restaurantList.innerHTML = '';
			filterText();
		});

		cuisineList.addEventListener('click', (event) => {
			cuisineVal.value = event.target.textContent.trim();
			cuisineList.innerHTML = '';
			filterText();
		});

		specialtyList.addEventListener('click', (event) => {
			specialtyVal.value = event.target.textContent.trim();
			specialtyList.innerHTML = '';
			filterText();
		});

		dietaryList.addEventListener('click', (event) => {
			dietaryVal.value = event.target.textContent.trim();
			dietaryList.innerHTML = '';
			filterText();
		});

		tagList.addEventListener('click', (event) => {
			tagVal.value = event.target.textContent.trim();
			tagList.innerHTML = '';
			filterText();
		});

		blacklistList.addEventListener('click', (event) => {
			blacklistVal.value = event.target.textContent.trim();
			blacklistList.innerHTML = '';
			filterText();
		});

		function fillTags(route, list) {
			fetch(route)
				.then((response) => response.json())
				.then((data) => {
					const dropdown = document.getElementById(list);
					data.forEach((name) => {
						const menuItem = document.createElement('li');
						menuItem.classList.add('dropdown-item');
						menuItem.href = '#';
						menuItem.textContent = name;
						dropdown.appendChild(menuItem);

					});
				})
		}

		function editDistance(route, input, list) {
			fetch(route)
				.then((response) => response.json())
				.then((data) => {
					const text = document.getElementById(input).value;
					if (text == "") {
						const dropdown = document.getElementById(list);
						dropdown.innerHTML = '';
						return;
					}
					const distances = data.map((name) => ({
						name,
						distance: editDistanceHelper(name.toLowerCase(), text.toLowerCase())
					}));

					distances.sort((a, b) => a.distance - b.distance);

					const topNames = distances.slice(0, 5).map((d) => d.name);

					const dropdown = document.getElementById(list);

					dropdown.innerHTML = '';

					topNames.forEach((name) => {
						const menuItem = document.createElement('li');
						menuItem.classList.add('dropdown-item');
						menuItem.href = '#';
						menuItem.textContent = name;
						dropdown.appendChild(menuItem);

					});
				})
		}

		function editDistanceHelper(str1, str2) {
			const m = str1.length;
			const n = str2.length;
			const dp = [];

			for (let i = 0; i <= m; i++) {
				dp[i] = [];
				for (let j = 0; j <= n; j++) {
					dp[i][j] = 0;
				}
			}
			for (let i = 1; i <= m; i++) {
				dp[i][0] = i;
			}
			for (let j = 1; j <= n; j++) {
				dp[0][j] = j;
			}
			for (let i = 1; i <= m; i++) {
				for (let j = 1; j <= n; j++) {
					if (str1[i - 1] === str2[j - 1]) {
						dp[i][j] = dp[i - 1][j - 1];
					} else {
						dp[i][j] = 2 + Math.min(dp[i - 1][j], dp[i][j - 1], dp[i - 1][j - 1]);
					}
				}
			}
			return dp[m][n];
		}

		// Get the slider input element and rating-value span element
		const ratingInput = document.getElementById('rating-input');
		const ratingValue = document.getElementById('rating-value');

		// Add an event listener to the slider input element
		ratingInput.addEventListener('input', () => {
			// Set the value of the rating-value span element to the current value of the slider
			ratingValue.innerText = ratingInput.value;
			if (!isFiltering) {
				isFiltering = true;
				setTimeout(() => {
					restaurantList.innerHTML = '';
					filterText();
					isFiltering = false;
				}, 1000);

			}

		});

		function answerBoxTemplate(
			name,
			address,
			stars,
			categories,
			traits,
			topWords,
			intro1,
			points1,
			intro2,
			points2,
			intro3,
			points3,
			cuisine,
			specialty,
			match
		) {
			if (document.getElementById('filter-text-val').value == '') {
				return ``;
			}

			const bgColor = match ? '#fff6f6' : '#f9f9f9';
			let firstThreeTraits = traits.slice(0, 3).map(trait => trait[0]).join(', ');
			let firstThreeWords = topWords.slice(0, 3).join(', ');

			if (match) {
				return `<div class='border box-template' style='background-color: ${bgColor};'>
					<div class='header-container'>
						<h3 class='episode-title'>${name}</h3>
						<p class='star-ratings'>${'<span></span>'.repeat(stars)}</p>
					</div>
					<p class='company-address'>${address}</p>
					<hr>
					<p class='traits'><span class='label'>Top traits:</span> ${firstThreeTraits}</p>
    				<p class='topWords'><span class='label'>Top key words amongst reviewers:</span> ${firstThreeWords}</p>
					${categories.length !== 0 ? `<p class='topWords'><span class='label'>Establishment:</span> ${categories}</p>` : ''}
					${cuisine.length !== 0 ? `<p class='topWords'><span class='label'>Cuisines:</span> ${cuisine}</p>` : ''}
					${specialty.length !== 0 ? `<p class='topWords'><span class='label'>Specialties:</span> ${specialty}</p>` : ''}

				</div>`;
			} else {

				return `<div class='border box-template' style='background-color: ${bgColor};'>
					<div class='header-container'>
						<h3 class='episode-title'>${name}</h3>
						<p class='star-ratings'>${'<span></span>'.repeat(stars)}</p>
					</div>
					<p class='company-address'>${address}</p>
					<hr>
					<p class='traits'><span class='label'>Top traits:</span> ${firstThreeTraits}</p>
    				<p class='topWords'><span class='label'>Top key words:</span> ${firstThreeWords}</p>
					${categories.length !== 0 ? `<p class='topWords'><span class='label'>Establishment:</span> ${categories}</p>` : ''}
					${cuisine.length !== 0 ? `<p class='topWords'><span class='label'>Cuisines:</span> ${cuisine}</p>` : ''}
					${specialty.length !== 0 ? `<p class='topWords'><span class='label'>Specialties:</span> ${specialty}</p>` : ''}
					<hr>
					<p class='intro'>${intro1}</p>
					<ul class='points'>
						${points1.map(point => `<li>${point}</li>`).join('')}
					</ul>
					<p class='intro'>${intro2}</p>
						<ul class='points'>${points2[0]["intro"]}
								<ul class='points'>
								${points2[0]["points"].map(point => `<li>${point}</li>`).join('')}
								</ul>
						${points2.length > 1 ? `<p class='intro'>${points2[1]["intro"]}</p>
							<ul class='points'>
							${points2[1]["points"].map(point => `<li>${point}</li>`).join('')}
							</ul>`: ''}
						</ul>
					${points3.length > 0 ?
						`<p class='intro'>${intro3}</p>
					<ul class='points'>
						${points3.map(point => `<li>${point}</li>`).join('')}
					</ul>` : ''}
				</div>`;
			}


		}

		function sendFocus(val) {
			document.getElementById(val).focus();
		}

		function filterText() {
			document.getElementById('answer-box').innerHTML = '';
			const answerBox = document.getElementById('answer-box');
			answerBox.innerHTML = '<div id="loading-text">Loading...</div>';

			var searchParams = new URLSearchParams({
				preferred: document.getElementById('filter-text-val').value,
			});
			searchParams.append("disliked", blacklistVal.value) 
			searchParams.append("min_rating", ratingInput.value) 
			searchParams.append("pos_cuisine", cuisineVal.value) 
			searchParams.append("pos_specialty", specialtyVal.value) 
			searchParams.append("pos_establishment", dietaryVal.value) 
			searchParams.append("trait", tagVal.value)
			console.log(searchParams.toString())
			fetch('/results?' + searchParams.toString())
				.then((response) => response.json())
				.then((data) =>
					data.forEach((row, index) => {
						document.getElementById('answer-box').innerHTML = '';
						if (index == 0) {
							// Query company
							//console.log('User query company info: ', row);
							if (row.address == null) {
								return;
							}
							let tempDiv = document.createElement('div');
							tempDiv.innerHTML = answerBoxTemplate(
								row.name,
								row.address,
								row.stars,
								row.establishments,
								row.traits,
								row.top_words,
								null,
								null,
								null,
								null,
								null,
								null,
								row.cuisines,
								row.specialities,
								true
							); // TODO: Change to show more attributes than just name and useful review
							document.getElementById('answer-box').appendChild(tempDiv);
						} else {
							row.forEach((r, i) => {
								// Matched companies
								console.log('Match #', i + 1, ' company info: ', r);
								let tempDiv = document.createElement('div');
								tempDiv.innerHTML = answerBoxTemplate(
									r.name,
									r.address,
									r.stars,
									r.establishments,
									r.traits,
									r.top_words,
									r.description.facts.intro,
									r.description.facts.points,
									r.description.favorable.intro,
									r.description.favorable.points,
									r.description.unfavorable.intro,
									r.description.unfavorable.points,
									r.cuisines,
									r.specialities,
									false
								); // TODO: Change to show more attributes than just name and useful review
								document.getElementById('answer-box').appendChild(tempDiv);
							});
						}
					})
				);
		}
	</script>
</body>